<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hdcd.mapper.HomeMapper">

	<select id="netflexList" resultType="Platform">
		<![CDATA[
			select * from playlist where plat_co = 100
		]]>
	</select>
	
	<select id="coupangList" resultType="Platform">
		<![CDATA[
			select * from playlist where plat_co = 200
		]]>
	</select>
	
	<select id="waveList" resultType="Platform">
		<![CDATA[
			select * from playlist where plat_co = 300
		]]>
	</select>
	
	<select id="watchaList" resultType="Platform">
		<![CDATA[
			select * from playlist where plat_co = 400
		]]>
	</select>
	
	<select id="disneyList" resultType="Platform">
		<![CDATA[
			select * from playlist where plat_co = 500
		]]>
	</select>
	
	<select id="tivingList" resultType="Platform">
		<![CDATA[
			select * from playlist where plat_co = 600
		]]>
	</select>
</mapper>